/* INFO: Default table style */
table[layout-type="data-list"] { border-collapse:separate; }
table[layout-type="data-list"] { width:100%; border:2px solid #2C3E50; border-radius:5px;  }
table[layout-type="data-list"] th, table td { height:32px; padding:0 5px; vertical-align:middle; }
table[layout-type="data-list"] th:first-child, table td:first-child { padding-left:10px;  }
table[layout-type="data-list"] th:last-child,  table td:last-child  { padding-right:10px; }
table[layout-type="data-list"] th { background-color:#2C3E50; color:#FFF; }
table[layout-type="data-list"] tr:nth-child(2n) td { background-color:#ECF0F1; }



/* INFO: Default pagination style */
.pagination { margin:0; }
.pagination li { margin-right:0; }
.pagination li:first-child a, .pagination li:last-child a { border-radius:0; }
.pagination li:first-child a:hover, .pagination li:last-child a:hover { border-radius:inherit; }
.pagination li:first-child a, .pagination li:first-child a:hover { border-top-left-radius:6px; border-bottom-left-radius:6px; }
.pagination li:last-child a, .pagination li:last-child a:hover { border-top-right-radius:6px; border-bottom-right-radius:6px; }



/* INFO: Misc Components */
.transparent-16	 { display:inline-block; width:16px;  height:16px; }
.transparent-32	 { display:inline-block; width:32px;  height:32px; }
.transparent-64	 { display:inline-block; width:64px;  height:64px; }
.transparent-128 { display:inline-block; width:128px; height:128px; }
.transparent-256 { display:inline-block; width:256px; height:256px; }
.transparent-512 { display:inline-block; width:512px; height:512px; }
